<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gw.pollingtask">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gw.pollingtask.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestAsyncRefreshPoolActivity1"
            android:label="轮询方式二"></activity>
        <activity
            android:name=".TestAsyncRefreshPoolActivity2"
            android:label="轮询方式三"></activity>
        <activity
            android:name=".TestSyncRefreshPoolActivity"
            android:label="轮询方式一"></activity>
    </application>

</manifest>